@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers

<div>
    <h3>@Dnn.LocalizeString("UniversalSettings")</h3>
    <ul>
        <li><a href="@Url.Action("Index","CompanyLocations")" class="dnnSecondaryAction button">@Dnn.LocalizeString("Locations")</a></li>
        <li>
            <a href="@Url.Action("Index","InitialEvaluationResults")" class="dnnSecondaryAction button">@Dnn.LocalizeString("InitialEvaluationResults")</a>
        </li>
    </ul>
    
</div>
