@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Mvc
@using WebXMS.DAL.ASLApp.Models
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<WebXMS.DAL.ASLApp.Models.ASL>
<h3 class="title">@Dnn.LocalizeString("AddNewSupplier")</h3>
<div>
    <div class="dnnForm row">
        <div class="col-md-12">
            <h3>@Dnn.LocalizeString("Supplier") @Model.SupplierName</h3>

            <a class="button dnnSecondaryAction pull-right" href="javascript:printElementById('formContainer');"><span class="glyphicon glyphicon-print"></span> @Dnn.LocalizeString("Print")</a>
        </div>
        <fieldset class="container col-md-7" id="formContainer">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseBasic">
                            @Dnn.LocalizeString("Basic")
                        </h4>
                    </div>
                    <div id="collapseBasic" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("SupplierName")*</label>
                                    <a href="javascript:;" class="help-icon" data-toggle="tooltip" title="@Dnn.LocalizeString("SupplierNameHelp")"><span class="glyphicon glyphicon-question-sign"></span></a>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.SupplierName,
                                   new { placeholder = Dnn.LocalizeString("SupplierNamePlaceHolder"), @class="form-control" })
                                    @Html.ValidationMessageFor(m => m.SupplierName, @Dnn.LocalizeString("SupplierNameRequired"))
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("ASLCategory")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.ASLCategoryId, (IEnumerable<System.Web.Mvc.SelectListItem>
         )ViewBag.ASLCategories, Dnn.LocalizeString("ASLCategoryPlaceHolder"),new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ASLCategoryId, @Dnn.LocalizeString("ASLCategoryRequired"))
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("ScopeOfService")*</label>
                                    <a href="javascript:;" class="help-icon" data-toggle="tooltip" title="@Dnn.LocalizeString(" ScopeOfServiceHelp")"><span class="glyphicon glyphicon-question-sign"></span></a>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.ScopeOfService, new { placeholder = Dnn.LocalizeString("ScopeOfService"), @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ScopeOfService, @Dnn.LocalizeString("ScopeOfServiceRequired"))
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("SuppliedCompanyLocations")</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.ListBoxFor(m => m.VMSuppliedCompanyLocations, (ViewBag.SuppliedCompanyLocations as SelectList), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("IsActive")*</label>
                                    <a href="javascript:;" class="help-icon" data-toggle="tooltip" title="@Dnn.LocalizeString("IsActiveHelp")"><span class="glyphicon glyphicon-question-sign"></span></a>
                                </div>
                                <div class="col-md-6">
                                    @Html.RadioButtonFor(m => m.IsActive, true, new { @class = "form-control" }) @Dnn.LocalizeString("Yes")
                                    @Html.RadioButtonFor(m => m.IsActive, false, new { @class = "form-control" }) @Dnn.LocalizeString("No")
                                    @Html.ValidationMessageFor(m => m.IsActive, @Dnn.LocalizeString("IsActiveRequired"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("CriticalProductService")</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(m => m.CriticalProductService, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("NonCriticalProductService")</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(m => m.NonCriticalProductService, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseOne">
                            @Dnn.LocalizeString("SupplierMainLocation")
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("MainLocationAddress")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.MainLocationAddress, new { placeholder = Dnn.LocalizeString("MainLocationAddress"), @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.MainLocationAddress, @Dnn.LocalizeString("MainLocationAddressRequired"), new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("MainLocationCountry")</label>
                                </div>
                                <div class="col-md-6">

                                    @Html.DropDownListFor(m => m.MainLocationCountry, (IEnumerable<System.Web.Mvc.SelectListItem>
         )ViewBag.MainLocationCountries
         , Dnn.LocalizeString("MainLocationCountry"),
         new { onchange = @"loadMainRegions()" , @class = "form-control" })
                                    @Html.HiddenFor(m => m.MainLocationCountryName)
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("MainLocationState")</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.MainLocationState, (IEnumerable<System.Web.Mvc.SelectListItem>
         )ViewBag.MainLocationStates
         , Dnn.LocalizeString("MainLocationState"),
         new { onchange = @"mainLocationStateChanged()" , @class = "form-control" })
                                    @Html.HiddenFor(m => m.MainLocationStateName)
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("MainLocationCity")</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.MainLocationCity, new { placeholder = Dnn.LocalizeString("MainLocationCity"), @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("MainLocationZip")</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.MainLocationZip, new { placeholder = Dnn.LocalizeString("MainLocationZip"), @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseTwo">
                            @Dnn.LocalizeString("SupplierSecondaryLocation")
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul id="savedSecondaryLocations" class="listRemovableItems">
                                @if (ViewBag.SavedSupplierSecondaryLocations != null)
                                {
                                    foreach (ASLSecondaryLocation ssloc in ViewBag.SavedSupplierSecondaryLocations)
                                    {
                                        <li>@ssloc.SecondaryLocationAddress, @ssloc.SecondaryLocationCity, @ssloc.SecondaryLocationStateName, @ssloc.SecondaryLocationCountryName, @ssloc.SecondaryLocationZip <a header="@Dnn.LocalizeString("Confirm")" message="@Dnn.LocalizeString("DeleteLocation?")" cancel="@Dnn.LocalizeString("Cancel")" confirm="@Dnn.LocalizeString("Confirm")" SupplierId="@ssloc.ASLSecondaryLocationId" href="javascript:;" class="removeSecondary pull-right"><span class="glyphicon glyphicon-remove"></span></a></li>
                                    }
                                }
                            </ul>
                            @Html.HiddenFor(m => m.SecondaryLocations)

                            <ul id="pendingSecondaryLocations" class="listRemovableItems"></ul>
                            <button type="button" id="addSecondaryLocation">@Dnn.LocalizeString("AddSupplierSecondaryLocation")</button>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseContact">
                            @Dnn.LocalizeString("SupplierMainContact")

                        </h4>
                    </div>
                    <div id="collapseContact" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("ContactName")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.ContactName, new { placeholder = Dnn.LocalizeString("ContactName"), @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ContactName, @Dnn.LocalizeString("ContactNameRequired"))
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("ContactPhone")*</label>
                                </div>
                                <div class="col-md-6">

                                    @Html.TextBoxFor(m => m.ContactPhone, new { placeholder = Dnn.LocalizeString("ContactPhone"), @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ContactPhone, @Dnn.LocalizeString("ContactPhoneRequired"))

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("ContactEmail")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.ContactEmail, new { placeholder = Dnn.LocalizeString("ContactEmail"), @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ContactEmail, @Dnn.LocalizeString("ContactEmailRequired"))

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseScondaryContacts">
                            @Dnn.LocalizeString("SupplierSecondaryContacts")
                        </h4>
                    </div>
                    <div id="collapseScondaryContacts" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul id="savedSecondaryContacts" class="listRemovableItems">
                                @if (ViewBag.SavedSupplierSecondaryContacts != null)
                                {
                                    foreach (ASLSecondaryContact secContact in ViewBag.SavedSupplierSecondaryContacts)
                                    {
                                        <li>@secContact.SecondaryContactName, @secContact.SecondaryContactPhone, @secContact.SecondaryContactEmail <a header="@Dnn.LocalizeString("Confirm")" message="@Dnn.LocalizeString("DeleteContact?")" cancel="@Dnn.LocalizeString("Cancel")" confirm="@Dnn.LocalizeString("Confirm")" SupplierId="@secContact.ASLSecondaryContactId" href="javascript:;" class="removeSecondaryContact pull-right"><span class="glyphicon glyphicon-remove"></span></a></li>
                                    }
                                }
                            </ul>
                            @Html.HiddenFor(m => m.SecondaryContacts)

                            <ul id="pendingSecondaryContacts" class="listRemovableItems"></ul>
                            <button type="button" id="addSecondaryContact">@Dnn.LocalizeString("AddSupplierSecondaryContact")</button>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseEvaluation">
                            @Dnn.LocalizeString("InitialEvaluation")
                        </h4>
                    </div>
                    <div id="collapseEvaluation" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("InitialEvaluationDate")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.InitialEvaluationDate, new { placeholder = Dnn.LocalizeString("InitialEvaluationDate"), @class = "input-date form-control" })
                                    @Html.ValidationMessageFor(m => m.InitialEvaluationDate, @Dnn.LocalizeString("InitialEvaluationDateRequired"))

                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("InitialEvaluationIsGrandfathered")*</label>
                                    <a href="javascript:;" class="help-icon" data-toggle="tooltip" title="@Dnn.LocalizeString("InitialEvaluationIsGrandfatheredHelp")"><span class="glyphicon glyphicon-question-sign"></span></a>
                                </div>
                                <div class="col-md-6">
                                    @Html.RadioButtonFor(m => m.InitialEvaluationIsGrandfathered, true, new { @class = "form-control" }) @Dnn.LocalizeString("Yes")
                                    @Html.RadioButtonFor(m => m.InitialEvaluationIsGrandfathered, false, new { @class = "form-control" }) @Dnn.LocalizeString("No")

                                    @Html.ValidationMessageFor(m => m.InitialEvaluationIsGrandfathered, @Dnn.LocalizeString("InitialEvaluationIsGrandfatheredRequired"))
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("InitialEvaluationCriteria")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(m => m.InitialEvaluationCriteria, new { placeholder = Dnn.LocalizeString("InitialEvaluationCriteria"), @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.InitialEvaluationCriteria, @Dnn.LocalizeString("InitialEvaluationCriteriaRequired"))

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("InitialEvaluationResult")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.InitialEvaluationResultId, (IEnumerable<System.Web.Mvc.SelectListItem>
                                    )ViewBag.InitialEvaluationResults, Dnn.LocalizeString("InitialEvaluationResult"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.InitialEvaluationResultId, @Dnn.LocalizeString("InitialEvaluationResultIdRequired"))

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("InitialEvaluationBy")</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.InitialEvaluationBy, (IEnumerable<System.Web.Mvc.SelectListItem>
                                       )ViewBag.InitialEvaluationByUsers
                                       , Dnn.LocalizeString("InitialEvaluationBy"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>@Dnn.LocalizeString("InitialEvaluationComments")*</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(m => m.InitialEvaluationComments, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.InitialEvaluationComments, @Dnn.LocalizeString("InitialEvaluationCommentsRequired"), new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseAttachments">
                            @Dnn.LocalizeString("AttachFiles")
                        </h4>
                    </div>
                    <div id="collapseAttachments" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row form-group">
                                <ul id="savedAttachments" class="listRemovableItems">
                                    @if (ViewBag.SavedAttachments != null)
                                    {
                                        foreach (ASLAttachment att in ViewBag.SavedAttachments)
                                        {
                                            <li><a href="@Url.Action("GetFile", "ASL", new { ASLAttachmentId = att.ASLAttachmentId })">@att.FileName</a> <a header="@Dnn.LocalizeString("Confirm")" message="@Dnn.LocalizeString("DeleteFile?")" cancel="@Dnn.LocalizeString("Cancel")" confirm="@Dnn.LocalizeString("Confirm")" FileId="@att.ASLAttachmentId" href="javascript:;" class="removeFile pull-right"><span class="glyphicon glyphicon-remove"></span></a></li>
                                        }
                                    }
                                </ul>
                                <input type="file"
                                       class="filepond"
                                       name="upload"
                                       multiple
                                       data-max-file-size="3MB"
                                       data-max-files="3"
                                       id="upload" />
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseReEvaluation">
                            @Dnn.LocalizeString("ReEvaluationInterval")*
                        </h4>
                    </div>
                    <div id="collapseReEvaluation" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-field">
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.ReevaluationInterval, (IEnumerable<System.Web.Mvc.SelectListItem>
                                             )ViewBag.MonthsLookUp, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ReevaluationInterval, @Dnn.LocalizeString("ReevaluationIntervalRequired"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.ASLId > 0)
            { 
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"
                            data-toggle="collapse"
                            data-target="#collapseReEvaluationHistory">
                            @Dnn.LocalizeString("ReEvaluationHistory")
                        </h4>
                    </div>
                    <div id="collapseReEvaluationHistory" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-field">
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <div id="divReEvaluationHistory"></div>
                                        <a class="button dnnSecondaryAction" href="@Url.Action("Index","ASLReEvaluations", new { ParentASLId = Model.ASLId })">@Dnn.LocalizeString("More")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="validation-summary-errors">

                <ul>
                    @if (Model.ErrorFields != null)
                    {
                        foreach (var err in Model.ErrorFields)
                        {
                            <li>@Dnn.LocalizeString(err + "Required")</li>
                        }
                    }
                </ul>
            </div>
            <div class="row form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <div class="buttons">

                        <button type="submit" id="btnSave" class="dnnPrimaryAction">@Dnn.LocalizeString("Save")</button>
                        <a href="@Url.Action("Index","ASL")" id="btnCancel" class=" button dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</a>

                    </div>
                </div>
            </div>


        </fieldset>
    </div>
</div>

<div class="modal" id="secondaryLocationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Dnn.LocalizeString("SupplierSecondaryLocation")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryLocationAddress")</label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.SecondaryLocationAddress, new { placeholder = Dnn.LocalizeString("SecondaryLocationAddress"), @class = "form-control" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryLocationCountry")</label>
                    </div>
                    <div class="col-md-9">

                        @Html.DropDownListFor(m => m.SecondaryLocationCountry, (IEnumerable<System.Web.Mvc.SelectListItem>
)ViewBag.SecondaryLocationCountry
, Dnn.LocalizeString("SecondaryLocationCountry"),
new { onchange = @"secondaryMainRegions();", @class = "form-control" })

                        @Html.HiddenFor(m => m.SecondaryLocationCountryName)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryLocationState")</label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.SecondaryLocationState, (IEnumerable<System.Web.Mvc.SelectListItem>
)ViewBag.SecondaryLocationState
, Dnn.LocalizeString("SecondaryLocationState"),
         new { onchange = @"secondaryLocationStateChanged();" , @class = "form-control" })
                        @Html.HiddenFor(m => m.SecondaryLocationStateName)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryLocationCity")</label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.SecondaryLocationCity, new { placeholder = Dnn.LocalizeString("SecondaryLocationCity"), @class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryLocationZip")</label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.SecondaryLocationZip, new { placeholder = Dnn.LocalizeString("SecondaryLocationZip"), @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="addSecondaryLocationData" class="btn btn-secondary" data-dismiss="modal">@Dnn.LocalizeString("SecondaryLocationZip")</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="secondaryContactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Dnn.LocalizeString("AddSecondaryContact")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryContactName")</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="@Dnn.LocalizeString("SecondaryContactName")" id="SecondaryContactName"/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryContactPhone")</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="@Dnn.LocalizeString("SecondaryContactPhone")" id="SecondaryContactPhone" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>@Dnn.LocalizeString("SecondaryContactEmail")</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="@Dnn.LocalizeString("SecondaryContactEmail")" id="SecondaryContactEmail" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="addSecondaryContactData" class="btn btn-secondary" data-dismiss="modal">@Dnn.LocalizeString("Add")</button>
            </div>
        </div>
    </div>
</div>


@if (Model.upload != null && Model.upload.Length > 0)
{
    <input type="text" style="display:none;" id="filesJSON" value="@Model.upload[0]" />
}
@section scripts
    {
    <script type="text/javascript">

        var myArray = [];
        @if (Model.upload != null && Model.upload.Length>0) {
            foreach (var d in Model.upload)
            {

                @:var afile = @Html.Raw(d);
                @:try { myArray.push(afile); } catch (e) { alert(e);}
            }

        }
        console.log(myArray);
    </script>
    <script type="text/javascript">
        var files = [];
        $(document).ready(function () {
            
        var rvtoken = $("input[name='__RequestVerificationToken']").val();
        var ModuleId = @Dnn.ModuleContext.ModuleId;
        var TabId = @Dnn.ModuleContext.TabId;
        var siteRoot = dnn.getVar("sf_siteRoot", "/");
            downloadAttachment = function (Id, ctl) {
                document.location.href = siteRoot + "DesktopModules/MVC/ApprovedSupplierList/ASL/GetFile?ASLAttachmentId=" + Id;
                $.ajax({
                    url: siteRoot + "DesktopModules/MVC/ApprovedSupplierList/ASL/GetFile?ASLAttachmentId=" + Id,
                    method: "Get",
                    headers: {
                        "ModuleId": ModuleId,
                        "TabId": TabId,
                        "RequestVerificationToken": rvtoken
                    }
                })
                    .done(function (data) {
                        if (data == 1)
                            ctl.closest("li").hide();
                    });
            }

            deleteAttachment = function (Id, ctl) {
                $.ajax({
                    url: siteRoot + "DesktopModules/MVC/ApprovedSupplierList/ASL/DeleteAttachment?AttachmentId=" + Id,
                    method: "Get",
                    headers: {
                        "ModuleId": ModuleId,
                        "TabId": TabId,
                        "RequestVerificationToken": rvtoken
                    }
                })
                    .done(function (data) {
                        if (data == 1)
                            ctl.closest("li").hide();
                    });
            }

            loadReEvaluationHistory = function (Id, ctl) {
                $.ajax({
                    url: siteRoot + "DesktopModules/MVC/ApprovedSupplierList/ASLReEvaluations/PartialIndex?ParentASLId=" + Id,
                    method: "Get",
                    headers: {
                        "ModuleId": ModuleId,
                        "TabId": TabId,
                        "RequestVerificationToken": rvtoken
                    }
                })
                    .done(function (data) {
                        $("#divReEvaluationHistory").html(data);
                    });
            }

            loadReEvaluationHistory(@Model.ASLId);
            
        });

    </script>
}

<style>
  
</style>